[package]
name = "eideticadb"
version = "0.1.0"
edition = "2021"
authors = ["Patrick Jackson <patrick@jackson.dev>"]
readme = "README.md"
license-file = "LICENSE.md"
description = "EideticaDB - Remember everything."
repository = "https://github.com/arcuru/EideticaDB"
homepage = "https://eidetica.dev"

[dependencies]
sha2 = "0.10"
thiserror = "2"
chrono = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
typetag = "0.2"

# Signal handlng for the binary
[dependencies.signal-hook]
version = "0.3"
optional = true

[[bin]]
name = "eideticadb"
required-features = ["signal-hook"]
